# CREATE DATA

In [1]:
(x1 <- 1:3)
(y  <- 1:9)

[1] 1 2 3

[1] 1 2 3 4 5 6 7 8 9

In [2]:
# Combine variables
(df1 <- cbind.data.frame(x1, y)) #will repeat x1 three times
typeof(df1$x1)
str(df1)

  x1 y
1 1  1
2 2  2
3 3  3
4 1  4
5 2  5
6 3  6
7 1  7
8 2  8
9 3  9

[1] "integer"

'data.frame':	9 obs. of  2 variables:
 $ x1: int  1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

# AS.FACTOR

In [3]:
(x2  <- as.factor(c(1:3))) #define a variable to be a factor
(df2 <- cbind.data.frame(x2, y))
typeof(df2$x2)
str(df2)

[1] 1 2 3
Levels: 1 2 3

  x2 y
1 1  1
2 2  2
3 3  3
4 1  4
5 2  5
6 3  6
7 1  7
8 2  8
9 3  9

[1] "integer"

'data.frame':	9 obs. of  2 variables:
 $ x2: Factor w/ 3 levels "1","2","3": 1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

## DEFINE EXISTING VARIABLE AS FACTOR

In [4]:
x3  <- c(1:3)
df3 <- cbind.data.frame(x3, y)
(df3$x3 <- factor(df3$x3,
  levels = c(1, 2, 3)))
typeof(df3$x3)
str(df3)

[1] 1 2 3 1 2 3 1 2 3
Levels: 1 2 3

[1] "integer"

'data.frame':	9 obs. of  2 variables:
 $ x3: Factor w/ 3 levels "1","2","3": 1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

## LABELS FOR FACTOR

In [5]:
x4  <- c(1:3)
df4 <- cbind.data.frame(x4, y)
df4$x4 <- factor(df4$x4,
  levels = c(1, 2, 3),
  labels = c("macOS", "Windows", "Linux")) # define your numerical variables as factors for using your own analyses
df4
typeof(df4$x4)
str(df4)

  x4      y
1 macOS   1
2 Windows 2
3 Linux   3
4 macOS   4
5 Windows 5
6 Linux   6
7 macOS   7
8 Windows 8
9 Linux   9

[1] "integer"

'data.frame':	9 obs. of  2 variables:
 $ x4: Factor w/ 3 levels "macOS","Windows",..: 1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

## ORDERED FACTORS AND LABELS

In [6]:
x5  <- c(1:3)
df5 <- cbind.data.frame(x5, y)
(df5$x5 <- ordered(df5$x5,
  levels = c(3, 1, 2),
  labels = c("No", "Maybe", "Yes"))) # define your numerical variables as factors for using your own analyses
df5
typeof(df5$x5)
str(df5)

[1] Maybe Yes   No    Maybe Yes   No    Maybe Yes   No
Levels: No < Maybe < Yes

  x5    y
1 Maybe 1
2 Yes   2
3 No    3
4 Maybe 4
5 Yes   5
6 No    6
7 Maybe 7
8 Yes   8
9 No    9

[1] "integer"

'data.frame':	9 obs. of  2 variables:
 $ x5: Ord.factor w/ 3 levels "No"<"Maybe"<"Yes": 2 3 1 2 3 1 2 3 1
 $ y : int  1 2 3 4 5 6 7 8 9

# ACCESS DATA

## Assignment operator

In [11]:
# Assigns number 0 through 10 to x1
x1 <- 0:10
x1
# Descending order
x2 <- 10:0
x2

 [1]  0  1  2  3  4  5  6  7  8  9 10

 [1] 10  9  8  7  6  5  4  3  2  1  0

## SEQ

In [10]:
# Ascending values (duplicates 1:10)
(x3 <- seq(10))

# Specify change in values
(x4 <- seq(30, 0, by = -3))

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] 30 27 24 21 18 15 12  9  6  3  0

## ENTER MULTIPLE VALUES WITH C

In [12]:
x5 <- c(5, 4, 1, 6, 7, 2, 2, 3, 2, 8)
x5

 [1] 5 4 1 6 7 2 2 3 2 8

## SCAN

In [13]:
x6 <- scan()  # After running this command, go to console
# Hit return after each number in concole of R
# Hit return twice to stop
x6

numeric(0)

## REP

In [17]:
# repication or repeat
x7 <- rep(TRUE, 5)
x7
# Repeats set
x8 <- rep(c(TRUE, FALSE), 5)
x8
# Repeats items in set
x9 <- rep(c(TRUE, FALSE), each = 5)
x9

[1] TRUE TRUE TRUE TRUE TRUE

 [1]  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE

# IMPORTING DATA

- Build in functions for importing data in formats of CSV, TXT, XLSX, JSON

In [1]:
library(datasets)  # Load base packages manually
require(rio)

Loading required package: rio

## IMPORTING WITH RIO

In [3]:
# CSV
rio_csv <- import("../CourseFiles/ImportingData_Datasets/mbb.csv")
head(rio_csv)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [4]:
# TXT
rio_txt <- import("../CourseFiles/ImportingData_Datasets/mbb.txt")
head(rio_txt)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [5]:
# Excel XLSX
rio_xlsx <- import("../CourseFiles/ImportingData_Datasets/mbb.xlsx")
head(rio_xlsx)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

## DATA VIEWER

In [6]:
View(rio_csv)

    Month   Mozart Beethoven Bach
1   2004-01  12    8         15
2   2004-02  12    9         15
3   2004-03  12    9         14
4   2004-04  12    8         14
5   2004-05  11    9         13
6   2004-06   9    7         12
7   2004-07   7    5         11
8   2004-08   7    6         11
9   2004-09   9    7         12
10  2004-10  11    8         13
11  2004-11  11    8         14
12  2004-12  10    8         13
13  2005-01  11    8         13
14  2005-02  11    8         16
15  2005-03  10    8         13
16  2005-04  11    8         13
17  2005-05  11    8         12
18  2005-06   9    7         12
19  2005-07   7    5         11
20  2005-08   7    5         12
21  2005-09   9    6         11
22  2005-10  10    7         12
23  2005-11  11    7         12
24  2005-12  11    7         12
25  2006-01 100    7         13
26  2006-02  25    7         12
27  2006-03  19    7         14
28  2006-04  14    6         12
29  2006-05  15    7         12
30  2006-06  11    5         11
... ...     ...    ...       ...
123 2014-03 6       4        10
124 2014-04 6       4        10
125 2014-05 6       5         9
126 2014-06 5       4         9
127 2014-07 5       3         9
128 2014-08 5       4         9
129 2014-09 5       4         9
130 2014-10 6       4         9
131 2014-11 6       5         9
132 2014-12 6       4         9
133 2015-01 7       4        10
134 2015-02 6       4        10
135 2015-03 6       4        10
136 2015-04 6       4        10
137 2015-05 6       4        10
138 2015-06 5       4         9
139 2015-07 4       3         9
140 2015-08 5       3        10
141 2015-09 5       4         9
142 2015-10 5       4         9
143 2015-11 5       4         9
144 2015-12 6      10         9
145 2016-01 9       4         9
146 2016-02 6       4         8
147 2016-03 6       4        10
148 2016-04 5       4        10
149 2016-05 5       4         9
150 2016-06 5       3         8
151 2016-07 4       3         9
152         4       3         9

In [9]:
# TEXT FILES

# Load a spreadsheet that has been saved as tab-delimited
# text file. Need to give complete address to file. This
# command gives an error on missing data but works on
# complete data.
r_txt1 <- read.table("../CourseFiles/ImportingData_Datasets/mbb.txt", 
    header = TRUE)
head(r_txt1)

Warning message in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, :
"number of items read is not a multiple of the number of columns"

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [10]:
# This works with missing data by specifying the separator: 
# \t is for tabs, sep = "," for commas. R converts missing
# to "NA"
r_txt2 <- read.table("../CourseFiles/ImportingData_Datasets/mbb.txt", 
  header = TRUE, 
  sep = "\t")
head(r_txt2)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [13]:
# CSV FILES
# Don't have to specify delimiters for missing data
# because CSV means "comma separated values"
trends.csv <- read.csv("../CourseFiles/ImportingData_Datasets/mbb.csv",
 header = TRUE)
head(trends.csv)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

# CLEAN UP #################################################

In [14]:
rm(list = ls()) # Clear environment